* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  background-color: #131313;
  color: #FFFFFF;
}

.header {
  background-color: #131313;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #e31c1c;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav {
    background-color: #323333;
    border-radius: 25px;
    align-items: center;
    gap: 0;
    padding: 0.3rem;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-link {
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.75rem 2rem;
  border-radius: 25px;
  transition: all 0.3s;
  font-size: 1rem;
  font-weight: 700;
}

.nav-link:hover {
  background-color: #ffffff;
  color: #000000
}

.nav-link.active {
  background-color: #fff;
  color: #000;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #323333;
  padding: 0.5rem 1rem;
  border-radius: 25px;
}

.user-name {
  color: #FFFFFF;
  font-size: 1rem;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}

.main-content {
  max-width: 1400px;
  margin: 2rem auto;
  padding: 0 2rem;
  color: #FFFFFF;
}